.profile-placeholder__avatar {
  font-size: 1rem;
  width: 1.5rem;
  display: flex;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  background-color: #0076c9;
  border-radius: 50%;
  color: white;
  svg {
    font-size: 0.8em;
  }
}

.profile-container--card {
  margin-left: auto;
}

.project-placeholder__avatar {
  font-size: 1rem;
  width: 2.5rem;
  display: flex;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray);
  border-radius: 50%;
  color: white;
  margin-right: 1rem;
  svg {
    color: #6f6f6f;
    font-size: 15px;
  }
}

.wide-avatar {
  width: 45px;
  height: 45px;
  svg {
    font-size: 18px;
  }
} 

.project-form-placeholder__avatar {
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  svg {
    color: #6f6f6f;
    font-size: 1.7rem;
  }
}