.task-board {
    display: flex;
    gap: 2rem;
    //justify-content: space-between;
   //overflow-y: hidden;
}

.kanban-column {
    width: 28%;
    min-width: 300px;
    max-width: 330px;
}

.kanban-column__tasks {
    background-color: #F7F7F7;
    padding: 1rem;
}

.kanban-column__tasks-container {
    min-height: 150px;
}

.kanban-card {
    padding: 14px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    user-select: none; 
    //disable selection 
}

.kanban-card__container {
    margin-bottom: 1rem;
}

.kanban-column__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    user-select: none; 
}

.kanban-column__title {
    font-size: 17px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-left: 0.5rem;
}

.status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #C6D1E2;
}

.status-indicator--in-progress {
    background-color: #FCAC2B;
}

.count-block {
    transition: 0.5;
    width: 22px;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 10px;
    padding: 0rem 0.2rem;
    justify-content: center;
    color: white;
    background-color: #6e7ca0;
    span {
        font-size: 13px;
    }
}

.kanban-card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kanban-card__header__title {
    color: #335C51;
    letter-spacing: -0.2px;
    margin: 0;
    font-size: 15px;
    padding-right: 10px;
    //padding-bottom: 4px;
}

.kanban-card__content {
    padding: 0.5rem 0;
    font-size: 14px;
}


.card-status__container {
    display: flex;
    align-items: center;
    margin-top: 4px;
    span {
        font-size: 13px;
    }
}

.card-status__indicator {
    width: 12px;
    height: 12px;
    background-color: #8FD1BF;
    border-radius: 50%;
    margin-right: 4px;
}

.card-status__indicator--overdue {
    background-color: #f44336;
}

.kanban-card__status {
    display: flex;
    justify-content: space-between;
}