button {
    background-color: transparent;
    cursor: pointer;
}

.nav-settings {
    button {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}