.dropdown-select {
    position: relative;
}

.dropdown-select-form {
    min-width: 100px;
}

.dropdown-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1000;
}

.select-container {
    position: absolute;
    bottom: 2.3rem;
    background-color: rgba(246, 246, 246, 0.89);
    width: 150px;
    border-radius: 2px;
    box-shadow: 0px 0px 5px #d0d0d0d6;
    backdrop-filter: blur(2px);
    z-index: 1001;
}

.select-item {
    display: flex;
    padding: 0.5rem 1rem;
    cursor: pointer;
    gap: 8px;
    align-items: center;
    //font-size: 13px;
    &:hover {
        background-color: #e6e6e6;
    }
}

.select-item__container {
    display: flex;
    align-items: center;
    gap: 2px;
    margin: 2px;
    border: 1px solid #b1b1b1;
    border-radius: 3px;

}

.select-item__input {
    width: 100%;
    box-sizing: border-box;
    padding: 3px;
    background-color: transparent;
    border: none;
    &:focus {
        outline: none;
    }
}

.select-item--active {
    background-color: #e6e6e6;
}

.select-button {
    border: none;
    height: 1rem;
}

.select-button--remove {
    padding: 0;
    padding-right: 4px;
}

.select-icon--search {
    padding-left: 4px;
}

.calendar-container {
    width: 280px;
}

.rdp-button:not([disabled]) {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
}

.rdp-cell {
    width: 1.5rem;
    height: 1.5rem;
}

.rdp-caption_label {
    //font-size: 1.2rem;
    font-size: 1rem;
}

.rdp-day_selected, .rdp-day_selected:hover {
    background-color: #565656;
}

.dropdown-edit {
    position: relative;
}


.dropdown-edit__list {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: rgb(255 255 255 / 88%);
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 5px #d0d0d0d6;
    list-style: none;
}

.dropdown-edit--left {
    right: 1.5rem;
}

.dropdown-edit--right {
    left: 2rem;
}

.dropdown-edit__item {
    padding: 6px;
    width: 70px;
    font-size: 13px;
    cursor: pointer;
}