.header-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    //gap: 1rem;
}

.nav-settings {
    button {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    svg {
        font-size: 18px;
    }
}

.project-logo {
    display: block;
    width: 55px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 1rem;
    img {
        width: 100%;
    }
}

.header-statusbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.header-statusbar__item {
    margin-right: 1rem;
}

.header-statusbar__tag {
    font-weight: 500;
    padding-right: 10px;
}

.header-statusbar__info {
    color: #777777;
}

.header-statusbar__tag::after {
    content: ":";
}
