.header-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 1rem 0;
    //gap: 1rem;
}

.nav-settings {
    button {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    svg {
        font-size: 18px;
    }
}

.project-logo {
    display: block;
    width: 55px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 1rem;
    height: 55px;
    img {
        width: 100%;
    }
}

.header-statusbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.header-statusbar__item {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.header-statusbar__tag {
    font-weight: 500;
    padding-right: 10px;
}

.header-statusbar__info {
    color: #6f6f6f;
    letter-spacing: var(--letter-spacing);
}

.header-statusbar__tag::after {
    content: ":";
}

.project-header__title {
    //font-size: 1.2rem;
    font-size: 20px;
    @media (min-width: $sm) {
        font-size: 22px;
    }
}

.header-statusbar__info {
    display: flex;
    align-items: center;
}

.statusbar__indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #C6D1E2;
    margin-right: 5px;
}

.statusbar__indicator--active {
    background-color: #00C853;
}

.statusbar__indicator--completed {
    background-color: #2b74fc;
}   

.statusbar__indicator--overdue {
    background-color: #FF3D00;
}

.statusbar__indicator--inactive {
    background-color: #777777;
}

.statusbar-category__container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.statusbar-category__item {
    background-color: rgb(131 156 172);
    color: white;
    font-size: 0.8em;
    padding: 1px 8px;
    border-radius: 3px;
}