.fluid-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.wide-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding: 0 15px;
  @media (min-width: $sm) {
    padding: 0 2rem;
  }
}

.fill-container {
  flex: 1 1 auto;
  overflow-y: hidden;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  @media (min-width: $sm) {
    max-width: 540px;
  }
  @media (min-width: $md) {
    max-width: 720px;
  }
  @media (min-width: $lg) {
    max-width: 960px;
  }
  @media (min-width: $xl) {
    max-width: 1140px;
  }
}

.narrow-padding {
  padding: 1rem;
  @media (min-width: $md) {
    padding: 1rem 5rem;
  }
  @media (min-width: $lg) {
    padding: 1rem 7rem;
  }
}

.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr;
  @media (min-width: $md) {
    grid-gap: 2;
    grid-template-columns: 1fr 1fr;
  }
}

.grid-homepage {
  display: grid;
  grid-template-columns: 1fr;
  @media (min-width: $md) {
    grid-gap: 2;
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: $lg) {
    grid-gap: 3;
    grid-template-columns: 2fr 4fr 3fr;
  }
  @media (min-width: 1500px) {
    grid-gap: 3;
    grid-template-columns: 1fr 3fr 2fr 1fr;
  }

}

.dashboard-layout {
  display: flex;
  height: calc(100vh - 45px);
  overflow: hidden;
}

.nav-sidebar {
  position: relative;
  width: 75px;
  border-right: 1px solid #d6d6d6;
  ul {
    padding: 0;
  }
}

.aside-icon__container {
  svg {
    font-size: 1.3rem;
  }
}

.aside-item {
  &.active {
    background-color: #f3f3f3;
    border-left: 3px solid purple;
  }
  a {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    text-decoration: none;
    color: #424242;
    font-size: 12px;
  }
}
