.fluid-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: $sm) {
        max-width: 540px;
    }
    @media (min-width: $md) {
        max-width: 720px;
    }
    @media (min-width: $lg) {
        max-width: 960px;
    }
    @media (min-width: $xl) {
        max-width: 1140px;
    }
}

