.form-modal__container {
    background-color: white;
    max-width: 600px;
    margin: 1rem;
    border-radius: 9px;
    box-shadow: 0px 0px 12px #cfcfcf;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #b2b2b2;
}

.add-form__container {
    padding: 1rem;
    .ql-editor{
        padding: 1rem 0;
    }
}

.form-header__btn--close {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

.form-group__input input  {
    box-sizing: border-box;
    font-size: 16px;
    border: none;
    width: 100%;
    padding: 0;
    &:focus {
        outline: none;
    }
}

.form-btn__section {
    display: flex;
    gap: 5px;
}

.add-form__container {
    .ql-editor {
        min-height: 9rem;
    }
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.quill-container {
    font-family: 'Inter', sans-serif;
}

.ql-editor.ql-blank::before {
    color: rgba(0,0,0,0.6);
    content: attr(data-placeholder);
    font-style: initial;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 15px;
}