.placeholder-container {
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
    //centering the placeholder container in the middle of the page
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    
    opacity: 0.9;

    svg {
        font-size: 40px;
        color: #a8a8a8;
    }
}

.placeholder-container__p {
    margin: 0 auto;
    color: #7a7a7a;
    font-size: 0.9em;
}

.placeholder-container__title {
    font-size: 16px;
    color: #848484;
}

.finish-form-component {
    text-align: center;
    margin: 2rem auto;
    svg {
        margin: 0 auto;
        font-size: 65px;
        color: #abc3b0;
        animation-name: spin;
        animation-duration: 500ms;
        animation-timing-function: linear; 
        //animation-iteration-count: infinite;
    }
    p {
        width: 230px;
        margin: 0 auto;
        margin-bottom: 10px;
        color: #777777;
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}