@import 'normalize';
@import 'variables';
@import 'layout';
@import 'buttons';
@import 'navbar';
@import 'header';
@import 'avatar';
@import 'board';

* {
    font-size: 14px;
}

* {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 1.6rem;
    @media (min-width: $sm) {
        font-size: 2rem;
    }
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}