@import "normalize";
@import "variables";
@import "layout";

@import "avatar";
@import "board";
@import "buttons";
@import "dropdown";
@import "editor";
@import "form";
@import "header";
@import "navbar";
@import "modal";
@import "list";
@import "section";
@import "stepIndicator";

* {
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

h1, h2, h3 {
  color: #434343;
}


h2 {
  font-size: 1.6rem;
  @media (min-width: $sm) {
    font-size: 2rem;
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.modalDiv {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(91, 112, 131, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 350px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
}


.bg-project__img {
    width: 100%;
    height: 100%;
    display: none;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media (min-width: $lg) {
        display: block;
    }
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.m-t-2 {
  margin-top: 2rem;
}

#showcomponent {
  visibility: hidden;
  opacity:0;
  //transition:visibility 0.2s linear,opacity 0.2s linear;
}

.skeleton-loader {
  overflow: hidden;
  position: absolute;
  top: 3.3rem;
  left: 6rem;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  width: calc(100vw - 10rem);
  height: calc(100vh - 6rem);
  padding: 1rem;
}

.show {
  opacity: 1!important;
  display: block !important;
  visibility: visible!important;
}